.shipping-nova-poshta-for-woocommerce-form {
    max-width: 500px;
}

.shipping-nova-poshta-for-woocommerce-form input[type=text],
.shipping-nova-poshta-for-woocommerce-form input[type=tel],
.shipping-nova-poshta-for-woocommerce-form input[type=number],
.shipping-nova-poshta-for-woocommerce-form select,
.shipping-nova-poshta-for-woocommerce-form .select2-container {
    display: block;
    width: 100%;
    max-width: 100%;
}

#order_shipping_line_items .select2-container {
    width: 100% !important;
}

#order_shipping_line_items .select2-container .select2-selection--single {
    height: 30px;
}

#order_shipping_line_items .select2-container .select2-selection {
    font-size: 14px;
    line-height: 2;
    color: #32373c;
    border-color: #7e8993;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    -webkit-appearance: none;
    background: #fff
}

#order_shipping_line_items .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

#order_shipping_line_items .select2-container .select2-selection--single .select2-selection__arrow {
    height: 28px;
}

#woocommerce-order-items #order_shipping_line_items.shipping-nova-poshta-for-woocommerce .thumb div {
    margin: 0;
    width: 100%;
}

#woocommerce-order-items #order_shipping_line_items.shipping-nova-poshta-for-woocommerce .thumb div::before {
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background-image: url('../img/nova-poshta.svg');
    background-size: cover;
}

.shipping-nova-poshta-for-woocommerce-form .with-help-tip {
    display: flex;
    align-items: center;
}

.shipping-nova-poshta-for-woocommerce-form .help-tip {
    color: #666;
    display: block;
    font-family: dashicons;
    font-size: 1.1em;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    padding: 5px;
    cursor: help;
    line-height: 1;
    margin: 0 -5px 0 5px;
}

.shipping-nova-poshta-for-woocommerce-form .help-tip::after {
    speak: none;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    width: 16px;
    line-height: 16px;
    height: 16px;
    text-align: center;
    content: "";
    cursor: help;
    font-variant: normal;
    margin: 0;
    display: block;
}
