<phpunit
        bootstrap="./bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="shipping-nova-poshta-for-woocommerce-tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../</directory>
            <exclude>
                <directory>../../.make</directory>
                <directory>../../assets</directory>
                <directory>../../css</directory>
                <directory>../../dist</directory>
                <directory>../../js</directory>
                <directory>../../languages</directory>
                <directory>../../lib</directory>
                <directory>../../src</directory>
                <directory>../../tests</directory>
                <directory>../../vendor</directory>
                <directory>../../shipping-nova-poshta-for-woocommerce.php</directory>
            </exclude>
        </whitelist>
    </filter>
<!--	<logging>-->
<!--		<log type="coverage-html" target="../../coverage" lowUpperBound="20" highLowerBound="50"/>-->
<!--		<log type="coverage-text" target="php://stdout" lowUpperBound="20" highLowerBound="50" showOnlySummary="true"/>-->
<!--	</logging>-->
</phpunit>
